body {
  font-family: Arial, sans-serif;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

h2 {
  align-self: flex-start;
  margin-bottom: 20px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  width: 100%;
  max-width: 600px;
}

.wave-group {
  position: relative;
  width: 100%;
}

/* Ajustar o input */
.wave-group .input {
  font-size: 16px;
  padding: 10px 5px;
 /* display: block; */
  width: 100%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}


.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #5264AE;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.label-char:empty::before {
  content: " ";
  display: inline-block;
  width: 6px; 
}

/* Botão */
button {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #fb9a97;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

button:hover {
  background: #ff6f6f; /* passivel de alteração */
}

p {
  margin-top: 10px;
  font-size: 14px;
}

p a {
  color: #333;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}