// Cores principais 
$primary-color: #eb9f87;
$secondary-color: #dd3f7e;
$tertiary-color: #8d8080;
$quartenary-color: #d86eae;
$button-color: #fb9a97;

// Tipografia
$font-family: 'Poppins', sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;

// Espaçamento 
$spacing-base: 16px;
$spacing-small: 8px;
$spacing-large: 24px;
